@model DVDProject.Models.Customer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Customer</h2>

@using (Html.BeginForm("CreateCustomer", "Customer"))
{
  <div class="form-group">
    @Html.LabelFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.FirstName)
  </div>
	<div class="form-group">
		@Html.LabelFor(m => m.LastName)
		@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.LastName)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Email)
		@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Email)
	</div>
		@Html.HiddenFor(m => m.ID)
		<button type="submit" class="btn btn-primary">Save</button>
}